* {
  margin: 0;
  font-family: helvetica, arial, sans-serif;
  letter-spacing: 1px;
}

/* Nav bar area START */

#header {
  height: 70px;
  display: flex;
}

#etsyLogo {
  font-size: 36px;
  font-family: "Times New Roman", Times, serif;
  padding-left: 52px;
  padding-top: 15px;
  color: #e16d36;
}

#headerInput {
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  width: 80%;
  background-color: #efefef;
  outline: none;
  position: relative;
  border: 1px solid #cecece;
  padding-left: 15px;
  font-size: 16px;
}

#timesIcon {
  position: absolute;
  left: 1180px;
  top: 27px;
  color: #424242;
}

#searchIcon {
  position: absolute;
  left: 1230px;
  top: 27px;
  color: #424242;
}

#header-list {
  display: flex;
}

.header-list-items {
  margin-top: 25px;
  margin-left: 25px;
  list-style: none;
  font-size: 14px;
}

.header-list-items:hover {
  border: solid 1px white;
  cursor: pointer;
}

#nav-bar {
  width: 100%;
  height: 34px;
  border-bottom: solid 2px #dedede;
}

#nav-list {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

/* #everydayFinds {
  background-color: #dcdcdc;
} */

.nav-list-items {
  list-style: none;
  font-weight: lighter;
  font-size: 14px;
  padding-bottom: 17px;
  padding-left: 25px;
  padding-right: 21px;
}

.nav-list-items:hover {
  border: solid 1px white;
}
.nav-list-items::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width 0.3s;
}
.nav-list-items:hover::after {
  width: 100%;
}
.nav-bar li:hover {
  border: solid 1px black;
}

/* .dropDown {
  width: 100%;
} */

.dropContent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: white;
  left: 0;
  top: 34px;
}

#anchorContainer {
  border-right: solid 1px #dedede;
  width: 30%;
}

.allJewelryArrow {
  padding-left: 18px;
}

#firstAnchor {
  font-weight: 500;
}

#dropC2 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC2 a {
  padding-top: 13px;
}

.anchorIcons {
  position: absolute;
  left: 385px;
}

#dropC2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 295px;
  width: 42%;
  position: absolute;
}

#dropC2Hide {
  /* display: none; */
  width: 42%;
  visibility: hidden;
  position: relative;
}

#dropC3 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
}

#dropC3 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC3 a {
  padding-top: 13px;
}

#dropC4 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

#dropC4 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC4 a {
  padding-top: 13px;
}

#dropC5 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px;
}

#dropC5 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC5 a {
  padding-top: 13px;
}

#dropC6 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 280px;
}

#dropC6 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC6 a {
  padding-top: 13px;
}

#dropC7 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 150px;
}

#dropC7 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC7 a {
  padding-top: 13px;
}
#dropC8 {
  display: flex;
  width: 42%;
  position: absolute;
  visibility: hidden;
  flex-direction: column;
  flex-wrap: wrap;
  height: 250px;
}

#dropC8 .boldAnchor {
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 2px;
}

#dropC8 a {
  padding-top: 13px;
}

#accessoriesShow:hover #dropC2Hide {
  display: block;
}

#boldArrow {
  left: 185px;
  top: 13px;
}

#boldArrow2 {
  left: 95px;
  top: 13px;
}

.dropContent a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  min-width: 275px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  position: relative;
}

.dropContent a:hover {
  background-color: #ddd;
}

.dropDown:hover .dropContent {
  display: block;
}

#containerBtns {
  display: flex;
}

#filterBtn {
  height: 40px;
  width: 90px;
  border-radius: 20px;
  margin-left: 35px;
  margin-top: 20px;
  background-color: white;
  text-align: right;
  padding-right: 20px;
  cursor: pointer;
}

#sortBtn {
  height: 40px;
  width: 200px;
  border-radius: 20px;
  margin-left: 10px;
  margin-top: 20px;
  background-color: white;
  text-align: center;
  padding-right: 15px;
  cursor: pointer;
}

#showContent {
  display: flex;
}

/* Nav bar END */

/* Grid area START */
/* Have image, title, shops, rating, views and price in a Card div */

#items-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  margin: 10px 30px;
}

.card {
  display: grid;
}

.cardImg {
  width: 255px;
  height: 225px;
}

.title {
  width: 100%;
  margin: 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
}

.shop {
  margin: 5px 0;
  font-size: 13px;
  color: #8e8e8e;
}

.rating {
  display: flex;
}

.views {
  display: absolute;
  margin: 5px 0;
  font-size: 14px;
  color: grey;
}

.priceLine {
  display: flex;
  margin: 5px 0;
}

.price {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.freeShip {
  margin: 3px;
  border: 4px solid #d8e8d8;
  background: #d8e8d8;
  border-radius: 15px;
  font-size: 10px;
}

/* Grid area END */

/* Footer area START */

/* pagination Start */

.paginationBar {
  margin: 30px 30px 40px;
}

.footerTop {
  font-size: 18px;
  margin-bottom: 25px;
}

.circleBtn {
  background-color: #efefef;
  border: none;
  border-radius: 50%;
  padding: 12px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.circleBtn:hover {
  background-color: lightgrey;
}

.ovalBtn {
  background-color: #efefef;
  border: none;
  border-radius: 15px;
  padding: 12px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.ovalBtn:hover {
  background-color: lightgrey;
}

/* pagination end */

#bottomFooter {
  display: grid;
  grid-template-rows: 8% 32% 48% 12%;
  height: 630px;
}

.whiteBg {
  grid-column: 1;
}

.lightBlueBg {
  grid-row: 2;
  background: #dae5f3;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.centerLightBlue {
  grid-column: 2;
}

.centerLightBlue p {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

.subscribe {
  margin-top: 20px;
  text-align: center;
}

.subInput {
  width: 350px;
  height: 41px;
  border: 1px solid grey;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-indent: 15px;
  font-size: 16px;
}

.subInput:focus,
text:focus,
select:focus {
  outline: none;
  border: 1px solid black;
}

.subButton {
  width: 100px;
  height: 45px;
  margin-left: -10px;
  border: 1px solid grey;
  border-left: none;
  background: white;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  padding-right: 100px;
  padding-left: 10px;
  cursor: pointer;
}

.blueBg {
  grid-row: 3;
  background: #324568;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-top: 40px;
  color: #ffffff;
}

.blueBg h1 {
  font-size: 16px;
  margin-bottom: 18px;
}

.blueBg ul {
  list-style-type: none;
  line-height: 30px;
  padding-left: 20px;
  font-size: 12px;
}

.blueBg li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.blue1 {
  grid-column: 1;
}

.blue2 {
  grid-column: 2;
}

.blue3 {
  grid-column: 3;
}

.blue4 {
  grid-column: 4;
}

.blue2 ul,
.blue3 ul,
.blue4 ul {
  padding-left: 0;
}

.botEnd4 {
  margin-top: 30px;
}

.downloadEtsy {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid #ffffff;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
  width: 220px;
}

.bigE {
  font-size: 16px;
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #222445;
  border-radius: 5px;
  padding: 1px 4px;
  margin-left: 2px;
  font-family: "Times New Roman";
}

.socialIconBar {
  display: flex;
  gap: 25px;
  font-size: 28px;
  margin-top: 20px;
}

.facebook {
  color: white;
}

.twitter {
  color: white;
}

.google {
  color: white;
}

.linkedin {
  color: white;
}

.youtube {
  color: white;
}

.darkBlueBg {
  grid-row: 4;
  background: #222445;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.dbLeft {
  grid-column: 1;
}

.merica {
  display: flex;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
  overflow: hidden;
  color: #ffffff;
  font-size: 12px;
  padding: 12px;
  width: 360px;
  margin-top: 20px;
  margin-left: 10px;
  letter-spacing: 2px;
}

.mericaFlag {
  width: 6%;
}

.merica p {
  margin-top: 4px;
  margin-left: 8px;
}

.dbRightSide {
  grid-column: 2;
  color: #ffffff;
  font-size: 13px;
}

.dbRightSide button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  color: #ffffff;
  font-size: 12px;
  padding: 8px;
  text-decoration: underline;
  cursor: pointer;
}

.moveRightStuff {
  margin-top: 28px;
  margin-left: 290px;
  padding: 0;
  box-sizing: border-box;
}
